#we are importing pyttsx3 for text-to-speech system
#for linux system user 'pip3' for windows user 'pip'
pip install pyttsx3

#we are importing datetime for date and time of now. its pre installed

#we are importing  speech_recognition for recognizing the speech
pip install SpeechRecognition

#importing wikipedia
pip install wikipedia

#importing webbrowser its preinstalled
